body {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: rgb(45, 45, 54);
    background: url(/rsc/wasteland.png) no-repeat center center fixed;
    background-size: cover;
}

#navbarContainer {
    position: fixed;
    display: inline-block;
    width: 100%;
    height: 6vh;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(0.5vh);
    -webkit-backdrop-filter: blur(0.5vh);
    color: white;
}

#navbarContainer span {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    text-align: center;
    line-height: 6vh;
    font-size: 3vh;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

#navbarReturn {
    left: 1vh;
    top: 50%;
    transform: translateY(-50%);
    color: unset;
    text-decoration: none;
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    text-align: center;
    font-size: 2vh;
    border-style: solid;
    border-width: 0.25vh;
    padding-left: 4vh;
    padding-right: 4vh;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    transition: cubic-bezier(.3,.13,.3,1.0) 0.35s;
    box-shadow: inset 0 0 2vh rgba(255, 255, 255, 0.5);
    background-color: rgba(0, 0, 0, 0.5);
}

#navbarReturn:hover {
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
}

#choiceGrid {
    display: flex;
    flex-direction: row;
    width: 105vh;
    height: 75vh;
    align-self: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.choiceCard{
    width: 100%;
    height: 100%;
    margin: 1vh;
    transition: cubic-bezier(.3,.13,.3,1.0) 0.35s;
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    border-color: white;
    border-radius: 0.5vh;
    border-style: solid;
    border-width: 0.25vh;
    box-shadow: 0 0 5vh black;
}

.choiceCard:hover {
    margin: 0vh;
    padding: 1vh
}

.choiceCardTitle {
    padding: 0em;
    display: block;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
    text-align: center;
    font-weight: 800;
    font-size: 3vh;
    width: 100%;
    min-height: fit-content;
    max-height: 100%;
}

.cardLink {
    text-decoration: none;
    color: unset;
}

.choiceCardComingsoon{
    width: 100%;
    height: 100%;
    margin: 1vh;
    transition: cubic-bezier(.3,.13,.3,1.0) 0.35s;
    background-color: rgba(255, 255, 255, 0.33);
    color: rgba(0, 0, 0, 0.5);
    border-color: white;
    border-radius: 0.5vh;
    border-style: solid;
    border-width: 0.25vh;
    box-shadow: 0 0 5vh rgba(0, 0, 0, 0.5);
}